@CHARSET "UTF-8";

.dtree {
	width: 100%;
	height: 100%;
}
.dTreeNode {
	width: 100%;
	height: 24px;
	line-height: 24px;
}
.dTreeNode a {
	width: auto;
	height: 24px;
	line-height: 24px;
	text-decoration: none;
	float: left;
}
.dTreeNode a:hover {
	text-decoration: underline;
}
.dTreeNode a img {
	height: 18px;
	width: 18px;
	margin-top: 3px;
	display: inline;
	float: left;
	border: none;
}
.clip {
	margin-left: 18px;
}
.dTreeNode img {
	float: left;
	border: none;
}	
#dd0 {
	margin: 0px;
}	
